<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/external/jquery")
    @Scripts.Render("~/bundles/external/jqueryui")
    @RenderSection("scripts", required: false)
    @Styles.Render("~/Content/SiteNewCss")
    @Styles.Render("~/Content/css/nivo")
</head>
<body>
<div id="content-container">
    <div id="title-banner">
        <div id="action-banner-positioner">
            <div id="action-nav-title-container">
                <a href="@Url.Action("/")"><img src="/Content/images/layout/Goodtimesbanner-new.png" /></a>
            </div>
            <div id="action-nav-menu-container">
                <ul id="action-nav-menu">
                    <li><a href="@Url.Action("JoinUs", "Home")">JOIN US</a></li>
                    <li><a href="@Url.Action("Volunteer", "Home")">VOLUNTEER</a></li>
                    <li><a href="@Url.Action("Donate", "Home")">DONATE</a></li>
                </ul>
            </div>
        </div>
        <div id="info-banner-positioner">
            <div id="info-banner-container">
                <ul id="info-nav-menu">
                    <li><a href="@Url.Action("WhoWeAre", "Home")">WHO WE ARE</a></li>
                    <li><a href="@Url.Action("WhatWeDo", "Home")">WHAT WE DO</a></li>
                    <li><a href="@Url.Action("News", "Home")">NEWS</a></li>
                    <li><a href="@Url.Action("Connect", "Home")">CONNECT</a></li>
                </ul>
            </div>
        </div>
    </div>

    @RenderBody()

    <div id="footer-container">
        <div id="footer-content"><span>(c)2014 TheGoodtimesProject.org</span><span style="margin-left: 30px;">Website by MikeDice.Creative</span></div>
    </div>
</div>
</body>
</html>
