<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Scripts.Render("~/bundles/external/jquery")
    @Scripts.Render("~/bundles/external/jqueryui")
    @RenderSection("scripts", required: false)
    <script type="text/javascript" src="//use.typekit.net/ooz7jur.js"></script>
    <script type="text/javascript">try { Typekit.load(); } catch (e) { alert(e); }</script>
    @Styles.Render("~/Content/CSS/SiteMain")
</head>
<body>
<div id="content-container">
    @{Html.RenderPartial("Header");}
    <div id="page-body">
        @RenderBody()
    </div>
    @{Html.RenderPartial("Footer");}

</div>
</body>
</html>
