<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/css/nivo")
</head>
<body>

    <div id="title-banner">
        <div id="title-banner-image-holder">
            <img id="title-banner-image" src="/Content/images/layout/Goodtimes-top-banner.png" alt="Camp Goodtimes"/>
        </div>

        <ul id="title-banner-menu">
            <li><a href="@Url.Action("/")">Home</a></li>
            <li><a id="NewsletterMenuItem" href="@Url.Action("Newsletter", "Home")">Newsletter</a></li>
            <li><a id="donate-menu-link" href="#">Donations</a>
                <ul id="donate-menu">  
                    <li id="donate-menu-item-inkind" ><a href="#">In Kind</a></li>
                    <li id="donate-menu-item-inhonorof"><a  href="#">In Honor Of</a></li>
                    <li id="donate-menu-item-donatenow"><a  href="#">Please Donate Now</a></li>
                </ul>  
            </li>
            <li><a id="AboutUsMenuItem" href="@Url.Action("AboutUs", "Home")">About Us</a></li>
            <li><a id="ContactUsMenuItem" href="@Url.Action("ContactUs", "Home")">Contact Us</a></li>
        </ul>
    </div>

    @RenderBody()

    @Scripts.Render("~/bundles/external/jquery")
    @Scripts.Render("~/bundles/external/jqueryui")
    @Scripts.Render("~/bundles/external/jquery.nivo.slider")
    @Scripts.Render("~/bundles/Gallery")
    @Scripts.Render("~/bundles/Site")
    @Scripts.Render("~/bundles/Slides")
    @RenderSection("scripts", required: false)
</body>
</html>
